<!-- <div class="row">
  <div class="col s12 m6">
    <div class="card card-0">
      <div class="card-content">
        <img width="50" height="50" style="margin-left:200px;" src="../../../../assets/a.png">
        <span style="text-align:center;color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" class="card-title">Schedulr</span>
        <div class="row">
          <form [formGroup]="LoginForm" (ngSubmit)="onLogin()" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i style="color:white" class="material-icons prefix">drafts</i>
                <input formControlName="email"  style="width:400px;color: white;" si id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Email Address</label>
              </div>
              <div class="input-field col">
                <i style="color:white" class="material-icons prefix">lock</i>
                <input formControlName="password" style="width:400px;color: white" id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Password</label>
              </div>
            </div>
            <a  style="width:450px;background-color: #2979FF;   border-radius: 10px;" class="waves-effect waves-light btn-large"><i class="material-icons left">people</i>Submit</a>
            <p style="text-align:center;color:white;margin-top:30px;">Forgot Password</p>
            <a style="width:450px;background-color: #6081C4;margin-top:30px;   border-radius: 10px;" class="waves-effect waves-light btn-large"><img width="40" style="margin-left:-170px;margin-top:8px;position:absolute" height="40" src="../../../../assets/Facebook-Final_V2.png">Facebook</a>
            <a style="width:450px;background-color: #E62B33;margin-top:30px;   border-radius: 10px;" class="waves-effect waves-light btn-large"><img width="30" style="margin-left:-170px;margin-top: 12px;position:absolute" height="30" src="../../../../assets/5a951939c4ffc33e8c148af2.png">Google</a>
            <p style="text-align:center;color:white;margin-top:30px;">Don't Have An Account Not Yet <a routerLink="/register">JoinNow</a></p>
          </form>
        </div>
              
      </div>

    </div>
  </div>
</div> -->

<div  class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card card-1">
            <div class="card-body">
                <img style="margin-left:200px;" width="50" height="50" src="../../../../assets/a.png"/>
              <h4 style="color:black; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-left:180px; margin-top:10px;" class="card-title">Schdular</h4>
              <form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
                  <div class="form-group">
                    <label style="color:black" for="exampleInputEmail1"><img width="30" height="30" src="../../../../assets/YPS__email_mail_letter_mail_envelope_postal-512.png" /></label>
                    <input formControlName="email" style="background-color:transparent; border: 2px solid skyblue" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email address">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label style="color:black" for="exampleInputPassword1"><img width="30" height="30" src="../../../../assets/lock.png" /></label>
                    <input formControlName="password" style="background-color:transparent;border: 2px solid skyblue" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                  <p style="text-align:center; color:black; margin-top:30px;"><a routerLink="/forgot">Forgot Password</a></p>
                  <button (click)="FacebookAuth()" type="submit" class="btn btn-primary btn-lg btn-block"><img width="40" style="margin-left:-170px;margin-top:-4px;position:absolute" height="40" src="../../../../assets/Facebook-Final_V2.png">Facebook</button>
                  <button (click)="googleAuth()" type="submit" class="btn btn-danger btn-lg btn-block"><img width="30" style="margin-left:-170px;margin-top: -0px;position:absolute" height="30" src="../../../../assets/5a951939c4ffc33e8c148af2.png">Google</button>

                  <p style="text-align:center; color:black; margin-top:30px;">Don't have An Acount Not Yet <a routerLink="/register">JoinNow</a></p>
                </form>
                <button (click)="AnonmyouslyLogin()" type="submit" class="btn btn-dark btn-lg btn-block">Anonmyously</button>
            </div>
          </div>
    </div>
  </div>
</div>

<!-- 
<form [formGroup]="LoginForm" (ngSubmit)="onLogin()">
  <label>email</label>
  <input formControlName="email" type="text"  placeholder="email">

  <label>password</label>
  <input formControlName="password" type="password" placeholder="password">

  <button>submit</button>
</form> -->