<!-- <div class="row">
  <div class="col s12 m6">
    <div class="card card-0">
      <div class="card-content">
        <img width="50" height="50" style="margin-left:200px;" src="../../../../assets/a.png">
        <span style="text-align:center;color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" class="card-title">Schedular</span>
        <div class="row">
          <form [formGroup]="RegisterForm" (ngSubmit)="onRegister()" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i style="color:white" class="material-icons prefix">people</i>
                    <input formControlName="username" style="width:400px;color: white;" si id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Username</label>
                  </div>
                  <div class="input-field col">
                      <i style="color:white" class="material-icons prefix">drafts</i>
                      <input formControlName="email" style="width:400px;color: white;" si id="icon_prefix" type="email" class="validate">
                      <label for="icon_prefix">Email Address</label>
                    </div>
              <div class="input-field col">
                <i style="color:white" class="material-icons prefix">lock</i>
                <input formControlName="password" style="width:400px;color: white;" si id="icon_prefix" type="password" class="validate">
                <label for="icon_prefix">Password</label>
              </div>
              <div class="input-field col">
                <i style="color:white" class="material-icons prefix">lock</i>
                <input formControlName="confirmPassword" style="width:400px;color: white" id="icon_telephone" type="password" class="validate">
                <label for="icon_telephone">Confirm Password</label>
                
              </div>
              
            </div>
            <a style="width:450px;background-color: #2979FF;   border-radius: 10px;" class="waves-effect waves-light btn-large"><i class="material-icons left">people</i>Submit</a>
            <p style="text-align:center;color:white;margin-top:30px;">Go Back To <a routerLink="/login">Login</a></p>
          </form>
        </div>
              
      </div>

    </div>
  </div>
</div> -->

<div  class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="card card-1">
              <div class="card-body">
                  <img style="margin-left:200px;" width="50" height="50" src="../../../../assets/a.png"/>
                <h4 style="color:black; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-left:180px; margin-top:10px;" class="card-title">Schdular</h4>
                <form  [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label style="color:black" for="exampleInputEmail1"><img width="30" height="30" src="../../../../assets/84875_add_512x512.png" /></label>
                        <input  formControlName="username" style="background-color:transparent;border: 2px solid skyblue" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                          <label style="color:black" for="exampleInputEmail1"><img width="30" height="30" src="../../../../assets/YPS__email_mail_letter_mail_envelope_postal-512.png" /></label>
                          <input  formControlName="email" style="background-color:transparent;border: 2px solid skyblue" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email address">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    <div class="form-group">
                      <label style="color:black" for="exampleInputEmail1"><img width="30" height="30" src="../../../../assets/lock.png" /></label>
                      <input  formControlName="password" style="background-color:transparent;border: 2px solid skyblue" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="password">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label style="color:black" for="exampleInputPassword1"><img width="30" height="30" src="../../../../assets/lock.png" /></label>
                      <input  formControlName="confirmPassword"  style="background-color:transparent;border: 2px solid skyblue" type="password" class="form-control" id="exampleInputPassword1" placeholder="ConfirmPassword">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"><img width="30" height="30" src="../../../../assets/84875_add_512x512.png" /></label>
                        <select formControlName="usertype" class="form-control" id="exampleFormControlSelect1">
                          <option value="employee">Employee</option>
                          <option value="manager">Manager</option>
                        </select>
                      </div>
                    <button [disabled]="!RegisterForm.valid" type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                    <p style="text-align:center; color:black; margin-top:30px;">Go Bat To <a routerLink="/login">Login</a></p>
                 
                  </form>
              </div>
            </div>
      </div>
    </div>
  </div>